spring:
  datasource:
    maxActive: 3
    url: jdbc:mysql://pxukqohrckdfo4ty.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/hdhn8g6wb6llphiw?serverTimezone=UTC
    username: j8d52u6sb914sdbm
    password: s43s9u9ofvg2qtro
    hikari:
      connectionTimeout: 30000
      idleTimeout: 600000
      maxLifetime: 600000
      maximumPoolSize: 4
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        show_sql: true
        use_sql_comments: true
        format_sql: true
        type: trace


